<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" /><!--CSS Bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <meta charset="UTF-8">
    <title>JAJA IT - Order Edit</title>
</head>
<header>
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background: linear-gradient(40deg, #2096ff, #05ffa3) !important">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <img src="https://jaja.lt/wp-content/uploads/2017/01/jaja_logo_banner.png" class="logo" height="30" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <input type="submit" value="Atsijungti"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
<style>

    body {
        color: black;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }


    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px 0;
        border-radius: 1px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
    }

    .table-title {
        padding-bottom: 15px;
        background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
        color: black;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 1px 1px 0 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
        text-align: center;
    }

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title .btn-group {
        float: right;
    }

    .table-title .btn {
        color: #fff;
        float: right;
        font-size: 13px;
        border: none;
        min-width: 50px;
        border-radius: 1px;
        border: none;
        outline: none !important;
        margin-left: 10px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
    }

    .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
    }

    .table-title .btn span {
        float: left;
        margin-top: 2px;
    }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }

    table.table tr th:first-child {
        width: 60px;
    }

    table.table tr th:last-child {
        width: 100px;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
        outline: none !important;
    }

    table.table td a:hover {
        color: #2196F3;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #F44336;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 1px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 1px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a, .pagination li.active a.page-link {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
    /* Custom checkbox */
    .custom-checkbox {
        position: relative;
    }

    .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        margin: 5px 0 0 3px;
        z-index: 9;
    }

    .custom-checkbox label:before {
        width: 18px;
        height: 18px;
    }

    .custom-checkbox label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        background: white;
        border: 1px solid #bbb;
        border-radius: 1px;
        box-sizing: border-box;
        z-index: 2;
    }

    .custom-checkbox input[type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        transform: inherit;
        z-index: 3;
        transform: rotateZ(45deg);
    }

    .custom-checkbox input[type="checkbox"]:checked + label:before {
        border-color: #03A9F4;
        background: #03A9F4;
    }

    .custom-checkbox input[type="checkbox"]:checked + label:after {
        border-color: #fff;
    }

    .custom-checkbox input[type="checkbox"]:disabled + label:before {
        color: #b8b8b8;
        cursor: auto;
        box-shadow: none;
        background: #ddd;
    }
    /* Modal styles */
    .modal .modal-dialog {
        max-width: 400px;
    }

    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
        padding: 20px 30px;
    }

    .modal .modal-content {
        border-radius: 1px;
    }

    .modal .modal-footer {
        background: #ecf0f1;
        border-radius: 0 0 1px 1px;
    }

    .modal .modal-title {
        display: inline-block;
    }

    .modal .form-control {
        border-radius: 1px;
        box-shadow: none;
        border-color: #dddddd;
    }

    .modal textarea.form-control {
        resize: vertical;
    }

    .modal .btn {
        border-radius: 1px;
        min-width: 100px;
    }

    .modal form label {
        font-weight: normal;
    }

</style>

{{#orderItemEdit}}
<div style="padding-left: 1rem; padding-right: 1rem; padding-top: 1rem; text-align: center" align="center"><h4>Užsakymo Nr. {{orderId}} prekės/paslaugos Nr. {{id}} kiekio redagavimas</h4></div>

<div style="padding-left: 1rem; padding-right: 1rem; text-align: center" align="center">
    <table style="width: 100%;" class="table table-striped table-hover">
        <thead style="padding-left: 1rem" class="table-title">
        <tr>
            <th>ID</th>
            <th>Pr. Kodas</th>
            <th>BAR kodas</th>
            <th>Pavadinimas</th>
            <th>Kaina</th>
            <th>Vnt.</th>
            <th>Kiekis</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <!--get data-->

        <tbody>
        <tr style="text-align: center;">
            <td><b>{{id}}</b></td>
            <td><span>{{code}}</span></td>
            <td><span>{{barcode}}</span></td>
            <td><span>{{name}}</span></td>
            <td><span>{{price}}</span></td>
            <td><span>{{units}}</span></td>
            <form method="post" action="orderMoreInfoEditSave">
                <input type="hidden" name="id" id="id" value="{{id}}" />
                <input type="hidden" name="orderId" id="orderId" value="{{orderId}}" />
                <input type="hidden" name="code" id="code" value="{{code}}" />
                <input type="hidden" name="barcode" id="barcode" value="{{barcode}}" />
                <input type="hidden" name="itemId" id="itemId" value="{{itemId}}" />
                <input type="hidden" name="name" id="name" value="{{name}}" />
                <input type="hidden" name="price" id="price" value="{{price}}" />
                <input type="hidden" name="type" id="type" value="{{type}}" />
                <input type="hidden" name="units" id="units" value="{{units}}" />

                <td>
                    <input type="number" step="0.001" value="{{amount}}" name="amount" id="amount">
                </td>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <td>
                    <button type="submit">Išsaugoti</button>
                </td>
            </form>
        </tr>


    </tbody>
    </table>
</div>
{{/orderItemEdit}}
</body>
</html>